$blue-bc1: #232F51;
$blue-bc2: #095996;
$blue-bc3: #5995F7;
$snuff1-bc1: #DED5F3;
$snuff1-bc2: #F1F0F1;
$pink1-bc1: #90243F;
$pink2-bc2: #F8D7DA;
$yellow-bc1: #F7BB59;
$green-bc1: #11BB55;

$black-text1: #222222;
$black-text2: #444444;
$gray-text1: #808080;
$gray-text2: #999999;
$gray-text3: #b2b2b2;
$pink1-text1: #90243F;
$pink2-text2: #F8D7DA;